body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  display: grid;
  grid-template-areas: "header header header" "nav article aside" "footer footer footer";
  grid-template-rows: 10vh 50vh 40vh;
}

header {
  grid-area: header;
  background-color: papayawhip;
}
nav {
  grid-area: nav;
  background-color: papayawhip;
}
article {
  grid-area: article;
  background-color: rosybrown;
}
aside {
  grid-area: aside;
  background-color: rgb(210, 200, 172);
}
footer {
  grid-area: footer;
  background-color: papayawhip;
}
